# Backend
ENVIRONMENT=development
HOST=127.0.0.1
PORT=8000

API_V1_STR=your_api_prefix_here

# Database
DATABASE_URL=postgresql://postgres:password@localhost:5432/marking_moderation_tool

# Security
SECRET_KEY=change-me-to-a-long-random-string

# CORS
CORS_ORIGINS=["http://localhost:3000"]
